body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f6fb;
}

.chat-container {
    width: 95%;
    max-width: 700px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.chat-window {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    background-color:#fffff2;
}

.messages {
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 10px;
}

.user-message {
    align-self: flex-end;
    background: #007bff;
    color: white;
    padding: 10px;
    border-radius: 8px;
    max-width: 60%;
    word-wrap: break-word;
}

/* #div1{
    background-color: aqua;
} */


#two{
    margin-top:2%; /* Remove any top margin */
    color:black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background: #fffff2;
}
.bot-message {
    align-self: flex-start;
    background: #eaeaea;
    padding: 10px;
    border-radius: 8px;
    max-width: 60%;
    word-wrap: break-word;
}

#logo {
    margin-bottom: -10px; /* Adjust this value as needed */
}

#one {
    margin-top:2%; /* Remove any top margin */
    color:#0056b3;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  


}

.input-container {
    display: flex;
    padding: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-right: 10px;
}

button {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.img{
    width:80px;
    bottom:0%;
}

button:hover {
    background: #0056b3;
}

/* #one{
    color:#0056b3;
    left:100px;
} */
